<nav class="navSerie navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="logo" src="{{ asset('build/images/logo-o.png') }}" alt=""/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path("program_index") }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("category_index") }}">toutes les catégories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_season_index") }}">Toutes les saisons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_episode_index") }}">Tous les épisodes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu catNav" aria-labelledby="navbarDropdown">

                        {% for cat in cats.getCategories %}
                            <li  class="dropdown-item"><a href="{{ path("category_show", { categoryName: cat.name, id: cat.id }) }}">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>