{% extends 'base.html.twig' %}

{% block title %}Wild Series - {{ category.name }}{% endblock %}

{% block content %}
    <section class="container">
        <h1>{{ category.name }}</h1>
<div >
        <a href="{{ path('category_index') }}">
            Retour à la liste des catérogies
        </a>
        </div>
        <ul>{% if programs %}
            {% for program in programs %}
                <li class="p-2 listAllCategory">
                    {% if program.poster starts with 'http' %}
                        <img class="minImg" src="{{ program.poster }}" alt="">
                    {% else %}
                        <img class="minImg" src="/uploads/{{ program.poster }}" alt="">
                    {% endif %}
                    <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a></li>
            {% endfor %}
            {% else %}
            <li>Il n'y a pas de série dans cette catégorie</li>
            {% endif %}
        </ul>
    </section>
{% endblock %}