{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block content %}
    <img class="imgHome" src="{{ asset('build/images/serie-tv-v.jpg') }}" alt=""/>
    <h1>Toutes les series</h1>
    <main>

        <section>
            <article class="listAllCategory m-auto mb-5 p-2">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn buttonNew">Search</button>
                {{ form_end(form) }}
            </article>
            Bonjour, c'est votre visite numéro {{ app.session.get('nbVisite') }}
            <ul class="listAllSeries">
                {% for program in programs %}
                <li>
                    <div>
                        <a href="{{ path("program_show", { slug: program.slug }) }}">
                            <ul class="description">
                                <li>{{ program.title }}</li>
                                <li>
                                    <em><a href="">{{ program.category.name }}</a></em>
                                </li>
                                <li><p>{{ program.synopsis | striptags|slice(0, 75,) }}</p></li>
                            </ul>
                        </a>
                    </div>
                    {% if program.poster starts with 'http' %}
                        <img src="{{ program.poster }}" alt="">
                    {% else %}
                        <img src="/uploads/{{ program.poster }}" alt="">
                    {% endif %}
                    {% endfor %}

                </li>
            </ul>
        </section>
    </main>
{% endblock %}